---
layout: boiteNoire
title: Code de vérification
---

## Comment générer un autre code de vérification pour votre compte Ring ?

Chez Ring, nous prenons au sérieux votre **vie privée** et la **sécurité de vos données**. Nous lançons un nouveau processus de récupération de compte qui vous permet de vous connecter à votre compte, au cas où vous ne pourriez pas recevoir votre code de vérification de compte sur un ancien téléphone ou numéro de téléphone.

Si vous vous êtes déjà connecté à votre compte Ring avec un autre appareil mobile ou navigateur, vous pouvez générer manuellement un autre code de vérification à partir de cet appareil.

### Suivez les instructions ci-dessous pour générer un code de vérification.

1. Vous devez disposer de **deux appareils** : le « nouvel appareil » auquel vous essayez de vous connecter et un « appareil précédemment connecté » que vous avez déjà utilisé pour vous connecter à votre compte Ring. (L'appareil précédemment connecté que vous avez déjà utilisé pour vous connecter à votre compte Ring peut être un appareil mobile, un navigateur ou un PC.) Si vous n'avez pas accès à un appareil ou un navigateur précédemment autorisé, veuillez contacter notre équipe d'assistance à la clientèle.

2. Sur le **nouvel appareil** (ou navigateur) :

Ouvrez l'application Ring (ou un nouveau navigateur) et commencez par saisir votre nom d'utilisateur pour vous connecter à votre compte Ring.

3. Sur le **nouvel appareil** (ou navigateur) :

Un écran s'affiche avec un message qui vous demande de confirmer votre identité en **saisissant un code envoyé à votre adresse e-mail**. Cependant, comme Ring ne reconnaît pas ce **nouvel appareil**, nous n'enverrons pas le code de vérification. Au lieu de cela, vous devrez générer votre code à partir de l'appareil que vous avez utilisé précédemment pour vous connecter à votre compte Ring (l'appareil précédemment connecté).

4. Sur l'**appareil précédemment connecté** (ou le navigateur) :

Ouvrez l'application Ring ou rendez-vous sur Ring.com.

5. Sur l'**appareil précédemment connecté** (ou le navigateur) :

Si vous utilisez une application mobile, dans le **menu déroulant** (☰) dans le coin supérieur gauche du tableau de bord de, sélectionnez Centre de contrôle. Le tableau de bord est généralement le premier écran qui s'affiche lorsque vous ouvrez votre application Ring après vous être connecté.
Si vous utilisez un navigateur, dans le menu Compte (icône) situé dans le coin supérieur droit du tableau de bord du site Web Ring.com, sélectionnez Centre de contrôle.

6. Sur l'**appareil précédemment connecté** (ou le navigateur) :

Dans le Centre de contrôle, appuyez sur Vérification du compte. Puis allez sur ce site web en <a href="https://encrypt.imageonline.co/index-fr.php#google_vignette" style="color:white; text-decoration-line: none;">cliquant ici</a>.

7. Sur l'**appareil précédemment connecté** ou le navigateur :

Appuyez sur **Générer le code** dans la section Autoriser un nouvel appareil sur l'appareil précédemment connecté.

8. Sur l'**appareil précédemment connecté** ou le navigateur :

Votre **code de vérification** sera généré sur l'appareil précédemment connecté.

9. Sur le **nouvel appareil** ou navigateur :

Saisissez le code de vérification (généré sur l'appareil précédemment connecté) dans le champ de saisie du Code de vérification du nouvel appareil et appuyez sur le bouton Vérifier le code pour poursuivre la connexion.

10.  Sur le **nouvel appareil** ou navigateur, vous devriez être connecté à votre compte Ring.
